.admin-wrapper
  - if user_signed_in?
    %ul
      %li= link_to "Wearable Index", wall_path
      %li= link_to "Functional Index", fall_path
    = link_to "Add New", new_post_path, :class => "main-btn"
  - else
    .admin-content
      %h1 Admin Login
      = link_to "Sign In", new_user_session_path, :class => "main-btn"
