%section.main
  .main-content
    .main-logo
      = image_tag("ewc-logo.svg")
    %h1 Wearable and Functional Ceramics.
    = link_to "Wearable", wear_path, :class => "main-btn"
    = link_to "Functional", functional_path, :class => "main-btn"
%section.about
  .overlay
    .about-content
      %p There is something gratifying about using a material from the earth to create something solid. Working with clay centers and inspires me and makes me feel close to the earth. I see clay as part of life, so I combine form and function to make pieces that are eager to be used and appreciated. I have been fortunate enough to be able to spread my love for clay to hundreds of students for the past 8 years. Through the act of teaching, I have learned so much and believe one is never really finished being a student of their passion.
      %h3 - Erin
