%header
  %h1 Erin West Ceramics

%section.main

%section.btns
  <a href="#wearable" class ="main-btn">Wearable</a>
  <a href="#functional" class ="main-btn">Functional</a>

%hr

%section#wearable
  %h1 Wearable
  .col-1
    %h3 Circle Studs
    .group-img
    .ind-imgs
  .col-2
    %h3 Faceted Studs
    .group-img
    .ind-imgs
%section#wearable2
  .col-1
    %h3 Triangle Studs
    .group-img
    .ind-imgs
  .col-2
    %h3 Bar Earrings
    .group-img
    .ind-imgs

%hr

%section#functional
  %h1 Functional
  .col-1
    %h3 Bowls
    .group-img
    .ind-imgs
  .col-2
    %h3 Cylinders
    .group-img
    .ind-imgs
%section#functional2
  .col-1
    %h3 Cups
    .group-img
    .ind-imgs
  .col-2
    %h3 Plates
    .group-img
    .ind-imgs
