.stock-wrapper
  .overlay
    %h1 Current Stockists
    .col
      = image_tag('10.png')
      %br/
      %a{:href => "http://10madedesign.com/", :target => "_blank"} 10 Made Design
      %p A small blurb about what is company is/does.
    .col
      = image_tag('eros.png')
      %br/
      %a{:href => "http://www.eroscollective.com/", :target => "_blank"} Eros Collective
      %p A small blurb about what is company is/does.
