.wearable-wrapper
  .overlay
    %h1 Wearable Ceramics
    %p Recent Additions
    .col
      - @posts.each do |post|
        = image_tag post.image.url(:thumb)
        %h2= post.title
        %p= post.description
