<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wearable.description %>
</p>

<%= link_to 'Edit', edit_wearable_path(@wearable) %> |
<%= link_to 'Back', wearables_path %>
