// General
header, section, hr
  background: $white
html
  height: 100%
  box-sizing: border-box
body
  background: $white
  position: relative
  min-height: 100%
  padding-bottom: 58px

hr
  +outer-container(90%)
  border-bottom: 1px solid $black

.alert
  width: 100%
  text-align: center
  background: transparentize($black, .3)
  color: $white
  font:
    weight: 700
    size: 24px
  z-index: 999
  position: absolute
  top: 0
  padding: 17px 0

input[type=text], input[type=email], textarea
  font:
    family: $helvetica
    weight: 300

// Header/Navbar
header
  background: $white
  width: 100%
  text-align: center
  padding: 50px 0 0 0
  h1
    font:
      weight: 100
      size: 60px
    text-transform: uppercase
    padding: 0
    margin: 0
    @media(max-width: 660px)
      font-size: 50px
      margin-top: 20px

// Homepage - Main Section
section.main
  +outer-container(100%)
  text-align: center
  margin: 0 auto
  height: 447px
  background:
    image: url('https://s3.amazonaws.com/ewceramics/main_section_img.png')
    size: cover
    position: center
section.btns
  text-align: center
  color: $black
  margin-bottom: 90px
  .main-btn
    +main-btn

// Homepage - Wearable Section
section#wearable, section#wearable2
  +outer-container(90%)
  text-align: center
  height: auto
  margin-bottom: 90px
  @media(max-width: 770px)
    margin-bottom: 50px
  h1
    font:
      weight: 100
      size: 50px
    text-transform: uppercase
    padding: 0
    margin: 70px 0
  .col-1, .col-2
    +span-columns(6)
    text-align: center
    @media(max-width: 770px)
      +span-columns(12)
    h3
      font:
        size: 24px
        weight: 100
      text-transform: uppercase
      margin: 0
      line-height: 1
      padding-bottom: 20px
    .group-img
      height: 200px
      a
        height: 100%
    .post-box
      +size(200px)

  .col-1
    @media(max-width: 770px)
      margin-bottom: 50px
    .group-img
      background:
        image: url('https://s3.amazonaws.com/ewceramics/c-group.png')
        position: center
        repeat: no-repeat
  .col-2
    .group-img
      background:
        image: url('https://s3.amazonaws.com/ewceramics/g-group.png')
        position: center
        repeat: no-repeat

// Homepage - Functional Section
section#functional, section#functional2
  +outer-container(90%)
  text-align: center
  height: auto
  margin-bottom: 90px
  @media(max-width: 770px)
    margin-bottom: 50px
  h1
    font:
      weight: 100
      size: 50px
    text-transform: uppercase
    padding: 0
    margin: 70px 0
  .col-1, .col-2
    +span-columns(6)
    text-align: center
    @media(max-width: 770px)
      +span-columns(12)
    h3
      font:
        size: 24px
        weight: 100
      text-transform: uppercase
      margin: 0
      line-height: 1
      padding-bottom: 20px
    .group-img
      height: 200px
    .post-box
      +size(200px)
      .post-content

  .col-1
    @media(max-width: 770px)
      margin-bottom: 50px
    .group-img
      background:
        image: url('https://s3.amazonaws.com/ewceramics/c-group.png')
        position: center
        repeat: no-repeat
  .col-2
    .group-img
      background:
        image: url('https://s3.amazonaws.com/ewceramics/g-group.png')
        position: center
        repeat: no-repeat

// Footer
footer
  color: $black
  text-align: center
  padding: 20px 0
  font-weight: 300
  width: 100%
  position: absolute
  bottom: 0
  right: 0
  left: 0
  p
    margin: 0 auto
    font-size: 12px
